<h4>EDIT TABLE</h4>

<h6><%= link_to "ADD ORDER", new_party_order_path(@party) %> | <%= link_to "OPEN TABLES", parties_path %> | <%= link_to "ALL TABLES", all_tables_path %></h6>

<%= form_for @party do |f| %>
  <%= f.label :table_num, "Table Number" %>
  <%= f.text_field :table_num %>

  <%= f.label :num_of_guests, "Number of Guests"%>
  <%= f.text_field :num_of_guests %>

  <%= f.label :is_paid, "Paid?" %>
  <%= f.check_box :is_paid %>
  <br>

  <%= f.submit "UPDATE" %>
<% end %>

<h6><%= button_to "DELETE", inactive_party_path(@party), method: :put %></h6>
