<h4>TABLE <%= @party.table_num %> RECEIPT</h4>

<h6><%= link_to "BACK", party_orders_path(@party), :class => 'links' %><%= link_to "OPEN TABLES", parties_path, :class => 'links' %><%= link_to "ALL TABLES", all_tables_path, :class => 'links' %></h6>

<p>Number of Guests: <%= @party.num_of_guests %></p>
<p>Server: <%= @user.name %></p>

<% @orders.each do |order| %>
  <div class = "row">
    <div class = "six columns">
      <div class = "receipt-items">
        <% if order.notes == "" %>
          <p><%= order.item.name %></p>
        <% else %>
          <p><%= order.item.name %></p>
          <div class='notes'> <%= order.notes %></div>
        <% end %>
      </div>
    </div>
    <div class = "six columns">
      <div class= "receipt-price"><%= number_to_currency(order.item.price) %></div>
    </div>
  </div>
<% end %>
<h5>Subtotal: <%= number_to_currency(@subtotal) %></h5>
<h5>Tax: <%= number_to_currency(@tax) %></h5>
<h5>Total: <%= number_to_currency(@total) %></h5>
<% if @party.is_paid %>
  <h5>Balance: $0.00</h5>
<% else %>
  <h5>Balance: <%= number_to_currency(@total) %></h5>
<% end %>
<p>Suggested Tip:</p>
<p>15%: <%= number_to_currency(@fifteen) %></p>
<p>20%: <%= number_to_currency(@twenty) %></p>
<p>25%: <%= number_to_currency(@twentyfive) %></p>
