<h4>Table <%= @party.table_num %> Receipt</h4>

<h6><%= link_to "BACK TO TABLES", parties_path %></h6>

<h6>Number of Guests: <%= @party.num_of_guests %></h6>
<% if @party.is_paid %>
  <h6>PAID!</h6>
<% else %>
  <h6>NOT PAID!</h6>
<% end %>
<% @orders.each do |order| %>
<div class = "receipt-items">
  <% if order.notes == "" %>
    <p><%= order.item.name %> ($<%= order.item.price %>)</p>
  <% else %>
    <p><%= order.item.name %> ($<%= order.item.price %>) </p>
    <div class='notes'> <%= order.notes %></div>
  <% end %>
</div>
<% end %>
<h5>Total: $<%= @total %></h5>
<p>Suggested Tip:</p>
<p>15%: $<%= @fifteen %></p>
<p>20%: $<%= @twenty %></p>
<p>25%: $<%= @twentyfive %></p>
