<h1>New Order</h1>

<h6>Appetizers:</h6>
<%= form_for ([@party,@order]) do |f| %>

  <%= f.collection_select(:item_id, Item.where(category: "Appetizer", active: true), :id, :name ) %>

  <%= f.label :notes  %>
  <%= f.text_field :notes %>

  <br>
  <%= f.submit %>
<% end %>

<h6>Entrees:</h6>
<%= form_for ([@party,@order]) do |f| %>

  <%= f.collection_select(:item_id, Item.where(category: "Entree", active: true), :id, :name ) %>

  <%= f.label :notes  %>
  <%= f.text_field :notes %>

  <br>
  <%= f.submit %>
<% end %>
<h6>Desserts:</h6>
<%= form_for ([@party,@order]) do |f| %>

  <%= f.collection_select(:item_id, Item.where(category: "Dessert", active: true), :id, :name ) %>

  <%= f.label :notes  %>
  <%= f.text_field :notes %>

  <br>
  <%= f.submit %>
<% end %>
<h6>Drinks:</h6>
<%= form_for ([@party,@order]) do |f| %>

  <%= f.collection_select(:item_id, Item.where(category: "Beverage", active: true), :id, :name ) %>

  <%= f.label :notes  %>
  <%= f.text_field :notes %>

  <br>
  <%= f.submit %>
<% end %>
