<h1>New Order</h1>

<%= form_for ([@party,@order]) do |f| %>

  <%= f.collection_select(:item_id, Item.all, :id, :name ) %>

  <%= f.label :notes  %>
  <%= f.text_field :notes %>

  <br>
  <%= f.submit %>
<% end %>
