<h1>Table <%= @party.table_num %></h1>

<h6><%= link_to "BACK TO PARTIES", parties_path %></h6>

<h5>Number of Guests: <%= @party.num_of_guests %></h5>
<h5>Is paid? <%= @party.is_paid %></h5>

<% @orders.each do |order| %>
  <% if order.notes == "" %>
    <p><%= order.item.name %> ($<%= order.item.price %>)</p>
  <% else %>
    <p><%= order.item.name %> ($<%= order.item.price %>) // Notes: <%= order.notes %></p>
  <% end %>
<% end %>
