
<h4><%= link_to "NEW TABLE", new_party_path %></h4>

<h4><%= link_to "OPEN TABLES", parties_path %></h4>

<h4><%= link_to "ALL TABLES", all_tables_path %></h4>

<% if @user.username == "Admin" %>
  <h4><%= link_to "VIEW/EDIT MENU", admin_path %></h4>
<% else %>
  <h4><%= link_to "VIEW MENU", items_path %></h4>
<% end %>

<% if @user.username == "chef" %>
  <h4><%= link_to "KITCHEN LIST", all_orders_path %></h4>
<% end %>
