<h4>TABLE <%= @party.table_num %></h4>

<h6><%= link_to "EDIT TABLE", edit_party_path(@party),:class => 'links' %>  <%= link_to "VIEW RECEIPT", party_path(@party), :class => 'links' %> <%= link_to "OPEN TABLES", parties_path, :class => 'links' %></h6>
<h6>[<%= link_to "ADD ORDER", new_party_order_path(@party), { :class=>"red" } %>]</h6>

<% @orders.each do |order| %>
<div class="order-items">
  <p><%= link_to "X      ", party_order_path(order.party, order.id),:class => 'red', method: :delete %><%= order.item.name %>, $<%= order.item.price %></p>
  <% if order.notes != "" %>
    <div class="notes"><%= order.notes %></div>
  <% end %>
  </div>
<% end %>
