<h4>Table <%= @party.table_num %> Order</h4>

<div class="row">
  <div class="four columns">
<%= form_for ([@party,@order]) do |f| %>

  <%= f.label :category, "Appetizers:"  %>
  <%= f.collection_select(:item_id, Item.where(category: "Appetizer", active: true), :id, :name, {:prompt=>true}, {:class=>'dropdown'}) %>

  <%= f.label :notes  %>
  <%= f.text_field :notes %>
  <br>
  <%= f.submit %>
<% end %>
</div>
  <div class="four columns">
<%= form_for ([@party,@order]) do |f| %>

  <%= f.label :category, "Entrees:"  %>
  <%= f.collection_select(:item_id, Item.where(category: "Entree", active: true), :id, :name, {:prompt=>true}, {:class=>'dropdown'}) %>

  <%= f.label :notes  %>
  <%= f.text_field :notes %>

  <br>
  <%= f.submit %>
<% end %>
</div>
  <div class="four columns">
<%= form_for ([@party,@order]) do |f| %>

  <%= f.label :category, "Desserts:"  %>
  <%= f.collection_select(:item_id, Item.where(category: "Dessert", active: true), :id, :name, {:prompt=>true}, {:class=>'dropdown'} ) %>

  <%= f.label :notes  %>
  <%= f.text_field :notes %>

  <br>
  <%= f.submit %>
<% end %>
</div>
</div>
<div class="row">
<div class="four columns">
<%= form_for ([@party,@order]) do |f| %>

<%= f.label :category, "Sides:"  %>
<%= f.collection_select(:item_id, Item.where(category: "Side", active: true), :id, :name, {:prompt=>true}, {:class=>'dropdown'} ) %>

<%= f.label :notes  %>
<%= f.text_field :notes %>

<br>
<%= f.submit %>
<% end %>
</div>
<div class="four columns">
<%= form_for ([@party,@order]) do |f| %>

  <%= f.label :category, "Drinks:"  %>
  <%= f.collection_select(:item_id, Item.where(category: "Beverage", active: true), :id, :name, {:prompt=>true}, {:class=>'dropdown'} ) %>

  <%= f.label :notes  %>
  <%= f.text_field :notes %>

  <br>
  <%= f.submit %>
<% end %>
</div>
</div>
