<% if @user.username == "Admin" %>

<%= form_for @item do |f| %>

  <%= f.label :name, "Item Name" %>
  <%= f.text_field :name%>

  <%= f.label :category %>
  <%= f.select( :category, ['Appetizer', 'Entree', 'Dessert', 'Sides', 'Beverage'])%>


  <%= f.label :price %>
  <%= f.text_field :price %>

  <br>
  <%= f.submit %>
<% end %>

<h6><%= button_to "Delete Item", inactive_item_path(@item), method: :put %></h6>

<% else %>

<h6>You must be logged in as Admin to edit or delete a menu item.</h6>
<% end %>
