<h4>Menu</h4>

<h6><%= link_to "Add a new item", new_item_path %></h6>

<h5>Appetizers</h5>
<% @items.each do |item| %>
  <% if item.category == "Appetizer" %>
     <p><%= link_to( item.name, edit_item_path(item.id) ) %>, Price: $<%= item.price %></p>
     <% end %>
<% end %>
<h5>Entrees</h5>
<% @items.each do |item| %>
  <% if item.category == "Entree" %>
     <p><%= link_to( item.name, edit_item_path(item.id) ) %>, Price: $<%= item.price %></p>
     <% end %>
<% end %>
<h5>Desserts</h5>
<% @items.each do |item| %>
  <% if item.category == "Dessert" %>
     <p><%= link_to( item.name, edit_item_path(item.id) ) %>, Price: $<%= item.price %></p>
     <% end %>
<% end %>
<h5>Sides</h5>
<% @items.each do |item| %>
  <% if item.category == "Side" %>
     <p><%= link_to( item.name, edit_item_path(item.id) ) %>, Price: $<%= item.price %></p>
     <% end %>
<% end %>
<h5>Beverages</h5>
<% @items.each do |item| %>
  <% if item.category == "Beverage" %>
     <p><%= link_to( item.name, edit_item_path(item.id) ) %>, Price: $<%= item.price %></p>
     <% end %>
<% end %>
