<h4>Menu</h4>

<h5><%= link_to "ADD A NEW ITEM", new_item_path %></h5>
<div class="row">
  <div class="four columns">
    <h5>Appetizers</h5>
      <% @appetizers.each do |item| %>
        <p><%= link_to( item.name, edit_item_path(item.id) ) %>, $<%= item.price %></p>
      <% end %>
  </div>
  <div class="four columns">
    <h5>Entrees</h5>
      <% @entrees.each do |item| %>
        <p><%= link_to( item.name, edit_item_path(item.id) ) %>, $<%= item.price %></p>
      <% end %>
  </div>
  <div class="four columns">
    <h5>Desserts</h5>
      <% @desserts.each do |item| %>
        <p><%= link_to( item.name, edit_item_path(item.id) ) %>, $<%= item.price %></p>
      <% end %>
  </div>
</div>
<div class="row">
  <div class="six columns">
    <h5>Sides</h5>
      <% @sides.each do |item| %>
        <p><%= link_to( item.name, edit_item_path(item.id) ) %>, $<%= item.price %></p>
      <% end %>
  </div>
  <div class="six columns">
    <h5>Beverages</h5>
      <% @beverages.each do |item| %>
        <p><%= link_to( item.name, edit_item_path(item.id) ) %>, $<%= item.price %></p>
      <% end %>
    </div>
</div>
